<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="evopdf" version="7.4" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.1.0" targetFramework="net452" />
  <package id="hiqpdf.free" version="10.15" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Select.HtmlToPdf" version="17.1.0" targetFramework="net452" />
  <package id="Syncfusion.HtmlToPdfConverter35" version="14.1.0.46" targetFramework="net452" />
</packages>